$primary: #b38519;
// $primary: #c5733d;
$secondary: #f4e2b8;
// $secondary: #e7be5F;
// $secondary: #f4e2b8;
$body-color: #fafafa;
$box: #878e76;
$text-light: #ffffff;
$text-dark: #282c34;

$success: #80b758;
$info: #eedbc7;
$warning: #fea620;
$danger: #f44336;
$light: #efebe6;
$dark: #5a585a;
$footer: #bdbdbd;

$colors: (
  chocolatebeb: #c5733d,
  cultured: #fafafa,
  gunmetal: #282c34,
  maxiumYellowRed: #e7be5F,
  tronDarkBlue: #004242,
  white: #ffffff,
  black: #000000,
  eerieBlack: #1a1a1a,
);