@font-face {
  font-family: "GoBaaa";
  src: url("../fonts/gobaaa/gobaaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gobaaa {
  font-family: "GoBaaa", sans-serif !important;
}