.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
     
        label {
            font-weight: bold;
        }
    }
}