@import "colors";

.add-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .add-btn {
    background: lighten($secondary, 3%);
    border: 1px solid darken($secondary, 4%);
    font-weight: 900;
    transition: all 150ms linear;
  }

  .add-btn:hover {
    background: darken($secondary, 1.5%);
    border: 1px solid rgba(#000, 0.05);
    color: $primary;
    transition: all 250ms linear;
  }
}

$speed: 1s;

// TODO handle screen width under 700px
.scene {
  height: 400px;
  width: 624px;
  perspective: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform $speed;
    transform: rotateY(-15deg) rotateX(-10deg) rotateZ(2deg) translateZ(-400px)
      translateX(-150px) translateY(125px);

    .face {
      border-radius: 5px;
      border: 2px solid darken($box, 18%);
      background: $box;
      width: 100%;
    }

    .box-lid {
      width: 100%;
      height: 100px;
      position: relative;
      transform-style: preserve-3d;
      transition: transform $speed;

      .lid {
        position: absolute;
        height: 100px;
      }

      .front {
        transform: rotateY(0deg) translateZ(100px);
      }

      .right {
        width: 400px;
        transform: rotateY(90deg) translateX(100px) translateZ(424px);
      }

      .back {
        transform: rotateY(180deg) translateZ(300px);
      }

      .left {
        width: 400px;
        transform: rotateY(-90deg) translateX(-100px) translateZ(200px);
      }

      .top {
        height: 400px;
        border-radius: 0;
        transform: rotateX(90deg) translateY(-100px) translateZ(200px);
      }
    }

    .box-btm {
      width: 100%;
      height: 300px;
      position: relative;
      transform-style: preserve-3d;
      transition: transform $speed;
      // transform: translateZ(-400px) rotateX(-15deg) rotateY(45deg);

      .btm {
        position: absolute;
        height: 300px;
      }

      .front {
        transform: rotateY(0deg) translateZ(100px);
      }

      .right {
        width: 400px;
        transform: rotateY(90deg) translateX(100px) translateZ(424px);
      }

      .back {
        transform: rotateY(180deg) translateZ(300px);
      }

      .left {
        width: 400px;
        transform: rotateY(-90deg) translateX(-100px) translateZ(200px);
      }

      .bottom {
        transform: rotateX(-90deg) translateY(50px) translateZ(150px);
      }
    }

    .lid-open {
      transform: translateY(-250px) translateX(1px) translateZ(-350px)
        rotateX(90deg);
    }
  }

  .recipe {
    height: 200px;
    position: relative;
    border: 1px solid #1a1a1a;
    bottom: 0;
    transition: all 0.5s;
  }

  .recipe:hover {
    transform: translateY(-60px);
  }
}
