.nav-bar {
  font-weight: 600;
  .light {
    background-color:	#8f9779;
    // background-color: #b1bca0;
    color: #1a1a1a;
    
    .appName {
      color: #1a1a1a;
    }
  }

  .dark {
    background-color: #20232a;
    color: #ffffff;

    .appName {
      color: #ffffff;
    }
  }

  .themetoggle {
    display: flex;
    align-items: center;

    .spacer {
      margin: 0 2px;
    }
  }
}
