.recipe-box {
  height: 400px;
  background-color: #8f9779;
}

.recipe {
  height: 200px;
  position: relative;
  border: 1px solid #1a1a1a;
  bottom: 0;
  transition: all .5s;
}

.recipe:hover {
  transform: translateY(-60px);
}